body {
    background-color: aqua;
    margin: 16px;
    text-align: center;
}
.btn {
    color:blue;
}
.container {
    margin-top: 20px;
    display: flex;
}
.item {
    height: 40px;
    width: 40px;
}